@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFF5EE;
}


/* 游릭游릭 */
.logo{
  display: block;
  margin-left: 20px;
}
.logo img{
  width: 150px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    height: 50px;
    top: 5%;
    margin-left: 150px;
}
.nav-links {
  list-style: none;
  display: flex;
  margin: 0 0 0 0;
  padding: 0;
  border-radius: 20px;
  font-family: "Climate Crisis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YEAR" 1979;
    gap: 200px;
}
.nav-links li a {
  color: rgb(246, 246, 246);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  background-color: #CF7312;
  border-radius: 20px;
  margin: 0 100px;
}
#b{
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  color: #CF7312;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#a{
  color: rgb(226, 226, 226);
  background-color: #CF7312;
  border-radius: 20px;
}
.nav-links #a:hover{
  background-color: black;
}
/* 游댮游댮 */

/* 游릭游릭 */
#bg {
  width: 1840px;                  
  height: 1640px;                
  overflow: hidden;            
  margin: 0;
  padding: 0;
  position: relative;
}
#bg img {
  width: 90%;
  height: 70%;
  object-fit: contain;             
  display: block;
}

.conj{
  display: flex;
  position: absolute;
  top: 47%;                    
  left: 70%;                   
  transform: translate(-50%, -50%);  
  z-index:-1;             
  cursor: pointer;
  transition: transform 3.5s ease;
}
.banner.conj.active{
  transform: scale(4);
}

