*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #FFF5EE;
}

#banner {
  width: 1840px;                  
  height: 1640px;                
  overflow: hidden;            
  margin: 0;
  padding: 0;
  position: relative;
}
#banner img {
  width: 100%;
  height: 100%;
  object-fit: contain;             
  display: block;
}

.logo{
  display: block;
}
.logo img{
  width: 150px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.navbar a{
  color: white;
  
}
.navbar nav ul li a{
  background-color: #CF7312;
  padding: 10px;
  border-radius: 20px;
  text-decoration: none;
}
.navbar ul{
  list-style: none;
}