*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./bg-01.png");
    background-position: center;
    background-size: cover;
}
h1{
    font-size: 5rem;
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "YEAR" 1979;
    z-index: 999;
    
}
.refri-container{
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.refri-logo-02{
    cursor: pointer;
    transition: transform 3.5s ease;
}
.refri-logo{
    cursor: pointer;
    transition: transform 3.5s ease;
}
.refri-container.vibrando .refri-logo {
    animation: vibrate 0.2s linear infinite;
}

.refri-container.vibrando .refri-logo-02 {
    animation: vibrate 0.2s linear infinite;
}

@keyframes vibrate {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}
